In [2]:
import numpy as np
import pandas as pd
import datetime

import sys
sys.path.append('../')
import src.generate_data as gd

In [ ]:
def get_data(date1, date2):
    
    #creamos los datos de glucosa para un dia y los hacemos dataframe
    data = []
    for _ in range(1,367):
        s = pd.DataFrame(np.random.poisson(140, 24))
        data.append(s)
    glucose = pd.concat(data).reset_index()
    glucose.drop(["index"], inplace = True, axis = 1)
        
    # creamos las fechas y las horas (frecuencia de una hora) y convertimos a dataframe
    mydates = pd.date_range(date1, date2,  freq='H').tolist()
    df2 = pd.DataFrame(mydates)
    # concatenamos los dataframes
    final = pd.concat([glucose, df2], axis = 1)
    
    # limpieza
    final.columns = ["Glucose", "Date"]
    
    final = final.dropna()
    final.set_index("Date")
    return final

In [3]:
fito =  gd.get_data('2020-01-01','2021-01-01')

In [4]:
fito.sample(5)

      Glucose                Date
8419    138.0 2020-12-16 19:00:00
1725    157.0 2020-03-12 21:00:00
2021    176.0 2020-03-25 05:00:00
2611    151.0 2020-04-18 19:00:00
1574    121.0 2020-03-06 14:00:00

In [5]:
fito.describe().T

          count        mean        std    min    25%    50%    75%    max
Glucose  8784.0  140.175433  11.865266  101.0  132.0  140.0  148.0  185.0

In [ ]:
fito.to_json("fito.json")

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
plt.plot(final.Glucose)